<ion-tabs #mainTabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Welcome"     (ionSelect)="showRoot(mainTabs,0)" tabIcon="ribbon"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Groups"   (ionSelect)="showRoot(mainTabs,1)" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Prayers"    (ionSelect)="showRoot(mainTabs,2)" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Account"     (ionSelect)="showRoot(mainTabs,3)" tabIcon="contact"></ion-tab>
</ion-tabs>