<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-left [navPush]="accountSignupPage" *ngIf="globals.userId === ''">
        <ion-icon name="contact"></ion-icon>Register
      </button>
      <button ion-button icon-left [navPush]="accountSigninPage" *ngIf="globals.userId === ''">
        <ion-icon name="log-in"></ion-icon>Sign In
      </button>
      <button ion-button icon-left (click)="globals.logout()" *ngIf="globals.userId !== ''">
        <ion-icon name="log-out"></ion-icon>Sign Out
      </button>
    </ion-buttons>
    <ion-title>Ucourage</ion-title> 
  </ion-navbar>
</ion-header>
<ion-content class='main'>
  <div id='main-content'>
    <img width='100%' src='assets/images/conference_room_unsplash.jpg'>
    <div id='top'>
      <span class='title' *ngIf="globals.userId == ''">Welcome to Ucourage!</span>
      <span class='title' *ngIf="globals.userId !== ''">Welcome, {{globals.getUserFirstName()}} {{globals.getUserLastName()}}</span>
      <table border="0">
      <tr>
        <td><img src="assets/images/noun_46945_cc.png" width="80"/></td>
        <td>&nbsp;&nbsp;&nbsp;Use God's word to pray for your <br/>&nbsp;&nbsp;&nbsp;family and friends and others. </td>
      </tr>
      <tr>
        <td><img src="assets/images/noun_82305_cc.png" width="80"/></td>
        <td>
          &nbsp;&nbsp;&nbsp;So take courage! For I believe God.
          <br/>&nbsp;&nbsp;&nbsp;It will be just as he said. 
          <br/>&nbsp;&nbsp;&nbsp;<b>Acts 27:25</b>
        </td>
      </tr>
      </table>
    </div>
  </div><!-- main-content -->
</ion-content>
